<div class="py-20" style="background: linear-gradient(180deg, #ff0000 0%, #ff7b00 100%)">
  <div class="w-full p-6 flex flex-col flex-grow flex-shrink">
    <div class="flex-1 bg-white rounded overflow-hidden shadow-lg">
      <h1 class="text-2xl m-3 font-bold text-black">
        About
      </h1>
      <h2 class="text-xl m-3 text-black-200">
        This is a sample project built with <a class="hover:text-red-700 hover:underline" href="https://scully.io">Scully</a> and <a class="hover:text-red-700 hover:underline"  href="https://www.storyblok.com/">Storyblok</a> to showcase how Angular can be utilised in the world of the Jamstack. Leave us a message below.
      </h2>
      <form class="bg-white text-center shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" action="https://formspree.io/tamaspiros@yahoo.co.uk"> 
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Your name
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" name="name" placeholder="Your Name">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Your email
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" name="_replyto" placeholder="Your email">
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="message">
            Your message
          </label>
          <textarea class="shadow appearance-none border 
         rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="message" name="message" type="message"></textarea>
        </div>
        <div class="flex items-center">
          <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" value="Send Message">
        </div>
      </form>
    </div>
  </div>
</div>